.desktop-sidebar {
    width: 21rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgb(113, 121, 126);
    height: 100%;
    overflow: auto;
}

body {
    height: 100%;
}

.skychart, .skychart svg {
    z-index: -1;
}

.desktop-content {
    margin-left: 22rem;
}

.home {
    margin-left: 0;
}

.responsive-content {
    overflow: auto;
}

.responsive-content, .desktop-content {
    padding-top: 0.8em;
}

.homeMenuList > .item {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.homeMenuList > .item > .icon {
    padding: 0px;
}

.homeMenuList .description {
    margin-top: 0.5em;
}

#root {
    overflow: visible;
}

#root, .App, .App > div {
    min-height: 100%;
    height: 100%;
}

.loadingOverlay {
    width: 100%;
    height: 100%;
    background-color: #ffffffa0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}

.indi-property:first-child {
    margin-top: 10px;
    border-top-width: 1px;
}

.notifications-container {
    position: fixed;
    top: 54px;
    right: 0px;

}

.notifications-container {
    z-index: 99;
}

.indi-one-of-many-switch {
    margin-right: 1em;
}

.indi-number .label, .indi-text .label {
    min-width: 16em;
}

.image-viewer {
    overflow: auto;
}

.image-viewer .ReactCrop {
    max-width: inherit;
}

.crop-move-button {
    z-index: 999;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* Bootswatch fixes */

.ui.info.message {
    background-color: #374950;
}

.ui.styled.accordion {
    background-color: #3c3c3c;
}

.ui.styled.accordion .active.title {
    color: #dedede;
}

.ui.basic.label {
    color: #555555;
}

.astrophotoplus-sidebar {
    min-height: 100%;
}

.number-steps button {
    padding-left: 2px!important;
    padding-right: 2px!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.sectionMenu .item {
    color: #ffffff!important;
}

.sectionMenu .item:hover {
    color: #ffffff66!important;
}
.sectionMenu .item.disabled {
    color: #ffffff66!important;
}


.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-exit {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}


