.desktop-sidebar {
    width: 21rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    overflow: auto;
    background-color: #444;
}

body {
    height: 100%;
}

.skychart, .skychart svg {
    z-index: -1;
}

.desktop-content {
    margin-left: 22rem;
}

.home {
    margin-left: 0;
}

.responsive-content {
    overflow: auto;
}

.responsive-content, .desktop-content {
    padding-top: 0.8em;
}

.homeMenuList > .item {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.homeMenuList > .item > .icon {
    padding: 0px;
}

.homeMenuList .description {
    margin-top: 0.5em;
}

#root {
    overflow: visible;
}

#root, .App, .App > div {
    min-height: 100%;
    height: 100%;
}

.loadingOverlay {
    width: 100%;
    height: 100%;
/*    background-color: #ffffffa0;*/
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}

.indi-property:first-child {
    margin-top: 10px;
    border-top-width: 1px;
}

.notifications-container {
    position: fixed;
    top: 54px;
    right: 0px;

}

.notifications-container {
    z-index: 99;
}

.indi-one-of-many-switch {
    margin-right: 1em;
}

.indi-number .label, .indi-text .label {
    min-width: 16em;
}

.image-viewer {
    overflow: auto;
}

.image-viewer .ReactCrop {
    max-width: inherit;
}

.crop-move-button {
    z-index: 999;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* Bootswatch fixes */

/*
.ui.info.message {
    background-color: #374950;
}

.ui.styled.accordion {
    background-color: #3c3c3c;
}

.ui.styled.accordion .active.title {
    color: #dedede;
}

.ui.basic.label {
    color: #555555;
}
*/
.astrophotoplus-sidebar {
    min-height: 100%;
}

.number-steps {
	border-top-style: solid!important;
	border-top-width: 1px!important;
	border-right-color: white!important;
	border-top-color: white!important;
	border-right-width: 1px!important;
	border-right-style: solid!important;
	border-bottom-color: white!important;
	border-bottom-width: 1px!important;
	border-bottom-style: solid!important;
	border-top-right-radius: 5px!important;
	border-bottom-right-radius: 5px!important;
}

.number-steps button {
    padding-left: 2px!important;
    padding-right: 2px!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

/*
.sectionMenu .item {
    color: #ffffff!important;
}

.sectionMenu .item:hover {
    color: #ffffff66!important;
}
.sectionMenu .item.disabled {
    color: #ffffff66!important;
}
*/

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-exit {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

/*
.dropdownRotationFix {
    transform: rotate(270deg)!important;
}

.active .dropdownRotationFix {
    transform: rotate(0deg)!important;
}
*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



/* Theme colors */
/*
body {
    background-color: #222;
}

body, .ui.header, .item .description, .ui.menu .item, .item, label, .ui.table {
    color: #aaa!important;
}

a, .ui.list .item a.header, a:hover {
    color: white;
}
.ui.list .list > .item a.header, .ui.list > .item a.header {
    color: white!important;
}

.ui.segment, .ui.vertical.menu {
    background-color: #333;
    border-color: #444!important;
}

.ui.label, .ui.message {
    background-color: #444;
    color: #aaa;
}

.ui.stackable.menu, .desktop-sidebar {
    background-color: #444;
    color: #aaa;
}

.ui.secondary.stackable.menu {
    background-color: rgba(0,0,0,0);
}


.ui.info.message {
    background-color: #3f4d4d;
    color: #bbdfea;
}

.ui.menu .active.item, .ui.secondary.menu .active.item {
    background-color: #777;
}

.ui.menu a:hover {
    background-color: #999!important;
    color: #111!important;
}

input {
    background-color: #eee!important;
    color: #333!important;
}

.ui.input > input::placeholder {
    color: #343964!important;
}

.ui.accordion .title:not(.ui) {
    color: #aaa;
}

.ui.styled.accordion, .ui.styled.accordion .accordion {
    background: #515050;
}

.ui.dropdown .menu > .item {
    color: #111!important; 
}

.ui.selectable.table tbody tr:hover, .ui.table tbody tr td.selectable:hover {
    background: rgba(255, 255, 255, 0.23) !important;
    color: rgb(255, 255, 255) !important;
}

.ui.card, .ui.cards > .card {
    background-color: #555;
    color: #ababab!important;
}

.ui.definition.table tr td.definition, .ui.definition.table tr td:first-child:not(.ignored) {
    color: white;
}

.ui.card > .content > .header, .ui.cards > .card > .content > .header {
	color: #9999AA;
}

.ui.card .meta, .ui.cards > .card .meta {
	color: #aaaaaa;
}

.ui.table thead th {
	color: #bbbbbb;
}

.ui.toggle.checkbox input:checked ~ .box, .ui.toggle.checkbox input:checked ~ label {
	color: #aaaaaa!important;
}

.ui.list .list > .item .header, .ui.list > .item .header {
	color: #bbbbbb;
}

.ui.action.input > .button, .ui.action.input > .buttons {
	border: #84929d;
	border-style: solid;
	border-width: 1px;
}

.ui.action.input > .buttons > .button > i.icon, .action.input > .button {
	color: white!important;
	background-color: #444!important;
}
*/
