[Unit]
Description=Astrophotography sequence server
Wants=redis.service

[Service]
Type=simple
ExecStart=@ASTRO_PHOTO_PLUS_INSTALL_PREFIX@/backend/start-server --log-level warning --log-syslog --log-syslog-prefix AstroPhotoPlus --disable-redirect-access-to-syslog
ExecStartPre=@ASTRO_PHOTO_PLUS_INSTALL_PREFIX@/backend/start-server --check-user
WorkingDirectory=@ASTRO_PHOTO_PLUS_INSTALL_PREFIX@/backend
Environment="SYSTEM_CONFDIR=@CONFDIR@"
SyslogIdentifier=AstroPhoto-Plus

[Install]
WantedBy=multi-user.target
