[Unit]
Description=Astrophotography sequence server
Wants=redis.service

[Service]
Type=simple
ExecStart=@STARQUEW_INSTALL_PREFIX@/backend/start-server
ExecStartPre=@STARQUEW_INSTALL_PREFIX@/backend/start-server --check-user
WorkingDirectory=@STARQUEW_INSTALL_PREFIX@/backend
#EnvironmentFile=@STARQUEW_CONF_FILE@


[Install]
WantedBy=multi-user.target
