.loadingOverlay {
    width: 100%;
    height: 100%;
    background-color: #ffffffa0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}

.indi-property {
    border: #dddddd;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.indi-property:first-child {
    margin-top: 10px;
    border-top-width: 1px;
}

.notifications-container {
    position: fixed;
    top: 54px;
    right: 0px;

}

.alert {
    color: darkblue;
}

.notifications-container {
    z-index: 99;
}

.device-connection-status {
    font-size: small;
}

.sequence-item-progress {
    min-width: 150px;

}

.sequence-item-progress .progress-bar {
    color: black;
}

.indi-server-details-container {
    margin-top: 10px;
}

.driverGroupTitle {
    font-size: 9pt
}

.driverGroupTitle a {
    display: block;
}

.indi-service-error-dialog {
    overflow-y: auto;
    max-height: 400px;
}
