/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site        : 'astrophotoplus';
@reset       : 'astrophotoplus';

/* Elements */
@button      : 'astrophotoplus';
@container   : 'astrophotoplus';
@divider     : 'astrophotoplus';
@flag        : 'astrophotoplus';
@header      : 'astrophotoplus';
@icon        : 'default';
@image       : 'astrophotoplus';
@input       : 'astrophotoplus';
@label       : 'astrophotoplus';
@list        : 'astrophotoplus';
@loader      : 'astrophotoplus';
@placeholder : 'astrophotoplus';
@rail        : 'astrophotoplus';
@reveal      : 'astrophotoplus';
@segment     : 'astrophotoplus';
@step        : 'astrophotoplus';

/* Collections */
@breadcrumb  : 'astrophotoplus';
@form        : 'astrophotoplus';
@grid        : 'astrophotoplus';
@menu        : 'astrophotoplus';
@message     : 'astrophotoplus';
@table       : 'astrophotoplus';

/* Modules */
@accordion   : 'astrophotoplus';
@checkbox    : 'astrophotoplus';
@dimmer      : 'astrophotoplus';
@dropdown    : 'astrophotoplus';
@embed       : 'astrophotoplus';
@modal       : 'astrophotoplus';
@nag         : 'astrophotoplus';
@popup       : 'astrophotoplus';
@progress    : 'astrophotoplus';
@rating      : 'astrophotoplus';
@search      : 'astrophotoplus';
@shape       : 'astrophotoplus';
@sidebar     : 'astrophotoplus';
@sticky      : 'astrophotoplus';
@tab         : 'astrophotoplus';
@transition  : 'astrophotoplus';

/* Views */
@ad          : 'astrophotoplus';
@card        : 'astrophotoplus';
@comment     : 'astrophotoplus';
@feed        : 'astrophotoplus';
@item        : 'astrophotoplus';
@statistic   : 'astrophotoplus';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : 'site';


/*******************************
         Import Theme
*******************************/

@import (multiple) "theme.less";

/* End Config */
